* {
    box-sizing: border-box;
    color: black;
}

html,
body {
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    padding-bottom: 18px;
}

.frame-box {
    text-align: center;
    font-size: 24px;
    padding-top: 35px;
    display: flex;
}

.frame-box a:hover {
    background-color: red;
}

.main-header a {
    text-decoration: none;
    color: black;
}

.display-box {
    display: flex;
}

.logo_box {
    padding-top: 5px;
}

.logo1_box {
    padding-right: 1px;
    padding-top: 1px;
    padding-left: 5px;
}

.logo2_box {
    background-color: #2FECA8;
    border-radius: 25px 0 25px 0;
    width: 77px;
    height: 86px;
}

.logo3_box {
    background-color: #1DCCD8;
    border-radius: 25px 0 25px 0;
    width: 77px;
    height: 86px;
}

.logo4_box {
    padding-left: 5px;
    padding-top: 8px;
}

.space1 {
    padding-right: 250px;
    padding-top: 10px;
    padding-left: 12px;
    width: 128px;
    height: 57px;
}

.rec1 {
    border-radius: 25px 0 25px 0;
    width: 128px;
    height: 57px;
    padding-top: 10px;
    background-color: rgba(47, 236, 168, 0.51);
}

.rec2 {
    background-color: rgba(29, 204, 216, 0.51);
    border-radius: 25px 0 25px 0;
    width: 128px;
    height: 57px;
    padding-top: 10px;
}

.space2 {
    padding-left: 135px;
    padding-top: 8px;
}

.breakingNews1_box {
    width: 180px;
    height: 50px;
    background: rgba(15, 205, 125, 0.51);
    border-radius: 25px 0px 0px 0px;
    padding-left: 5px;
}

.breakingNews2_box {
    width: 1155px;
    height: 50px;
    background: rgba(29, 204, 216, 0.51);
    border-radius: 0px 0px 25px 0px;
}

.space {
    padding-right: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 25px 0px 25px 0px;
    margin-left: 190px;
    margin-top: 6px;
}

.box {
    width: 1305px;
    height: 50px;
    background: rgba(29, 204, 216, 0.51);
    border-radius: 25px 0px 25px 0px;
    margin-left: 30px;
}

.breaking {
    margin-bottom: 50px;
}

.images {
    width: 200px;
    height: 200px;
    border-radius: 25px 0px 25px 0px;
    padding-right: 10px;
    margin-left: 10px;
}

.news {
    width: 250px;
    font-size: 24px;
    margin-left: 140px;
}

.image1 {
    width: 500px;
    height: 300px;
    margin-left: 250px;
    margin-right: 10px;
    margin-top: 50px;
}

.tittle {
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: large;
    margin-bottom: 50px;
    padding-top: 30px;
}

.news1 {
    background-color: rgb(192, 241, 192);
}

.p1 {
    font-family: monospace;
    font-size: large;
    padding-left: 200px;
    padding-right: 200px;
}

.video {
    width: 500px;
    height: 300px;
    margin-left: 250px;
}